[Unit]
Description=plex-radarr-sonarr
Requires=docker.service
After=docker.service

[Service]
User=michael
Group=michael
Restart=always

EnvironmentFile=/home/michael/Documents/plex-radarr-sonarr/.env

ExecStartPre=/home/michael/Documents/plex-radarr-sonarr/stop.sh
ExecStart=/home/michael/Documents/plex-radarr-sonarr/up.sh
ExecStop=/home/michael/Documents/plex-radarr-sonarr/stop.sh

[Install]
WantedBy=multi-user.target
